/* Common Styles */


/* Styles for Landing Page (.landing-page) */

.landing-page .tables-container .attendance-table table td button.delete-button {
    background-color: #dc3545;
    /* Warna merah */
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.landing-page {
    /* Center the content horizontally and vertically */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    border: 2px solid #ef0606;
    width: 50%;
    max-width: 800px;
    height: 70%;
    overflow: auto;
    margin: 0 auto;
    /* Center horizontally */
    /* Flex container for tables */
}

.landing-page .add-button {
    margin-bottom: 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.landing-page .tables-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Mengatur 3 kolom yang sama lebar */
    gap: 20px;
    /* Jarak antara tabel */
    width: 100%;
    /* Occupy full width of the container */
}

.landing-page .tables-container .attendance-table {
    text-align: center;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.landing-page .tables-container .attendance-table h2 {
    background-color: #2aaab6;
    padding: 10px;
    margin: 0;
    font-size: 17px;
    color: #fff;
    text-align: center;
}

.landing-page .tables-container .attendance-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.landing-page .tables-container .attendance-table table th,
.landing-page .tables-container .attendance-table table td {
    border: 1px solid #ccc;
    padding: 8px;
}

.landing-page .tables-container .attendance-table table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.landing-page .tables-container .attendance-table table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.landing-page .tables-container .attendance-table table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.landing-page .tables-container .attendance-table table td button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.landing-page .tables-container .attendance-table table td button.delete-button {
    background-color: #dc3545;
}

.cancel-button {
    margin-top: 20px;
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
